@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
body{
    font-family: 'Cairo', sans-serif !important;
    direction:rtl;
    
}
.owl-stage-outer , .xs-header-middle{
    direction:ltr;
}
.xs-header-middle .header-middle-info{
    float:right !important;
}
.xs-header-nav .header-nav .header-nav-right-info.align-to-right{
    float: left;
}
.nav-menu  , .nav-menu > li {
    float:right;
    text-align:right;
}

.xs-header-nav .header-nav .nav-menu > li > a{
     font-family: inherit;
     font-weight: bold;
     font-size:16px;
}
.xs-btn , p , .banner-content span , .service-inner-sec .service-sidebar .widgets .services-link-item li a , .service-inner-sec .service-sidebar .widgets .contact-list li{
    font-family: inherit;
}
.about-sec .about-video-item{
        margin-right: 40px;
        margin-left:0;
}
.about-sec .about-video-item .about-img2{
        margin-right: auto;
        margin-left: 0;
}
.about-content .column-title{
    line-height: 65px;
}
.recent-work-sec .single-recent-work .recet-work-footer h3{
    text-align:center;
}
.testmonial-sec .testmonial-content .testmonial-author{
    padding-right: 85px;
    padding-left: auto;
}
.testmonial-sec .testmonial-content .testmonial-author h4{
        line-height: 65px;
}
.testmonial-sec .testmonial-content .testmonial-author img{
    right:0;
    left:auto;
}
.testmonial-sec #testmonial-slider .owl-dots{
        left: 0;
        right:auto;
}
.xs-footer-sec .footer-item .widgets ul.footer-contact-list li{
        padding-right: 45px;
        padding-left: 0;
}
.xs-footer-sec .footer-item .widgets ul.footer-contact-list li i{
    right:0;
    left:auto;
}
.xs-footer-sec .footer-item .widgets ul.service-link li a:before{
        transform: rotate(180deg);
        right:0;
        left:auto;
}
.service-inner-sec .service-sidebar .widgets .services-link-item li a::before{
    transform: rotate(180deg);
    right:auto;
   left: 10px;
        
}
.service-inner-sec .service-sidebar .widgets .contact-list li{
        padding-right: 45px;
            padding-left: 0;
            font-family:inherit;
}
.service-inner-sec .service-sidebar .widgets .contact-list li i{
    right: 0;
    left:auto;
}
.xs-footer-sec .footer-item .widgets ul.service-link li a{
    padding-right:14px;
    padding-left:0;
}
.service-inner-sec .populer-question-item .faq-list-item .faq-single-item .card-header h4 .btn-link{
        padding-right: 82px;
        padding-left: 20px;
            text-align: right;
}

.service-inner-sec .populer-question-item .faq-list-item .faq-single-item .card-header h4 .btn-link::before{
        right: auto;
        left: 0;
}

.service-inner-sec .populer-question-item .faq-list-item .faq-single-item .card-header h4 .btn-link span{
    right: 0;
    left: auto;
}

.xs-header-top{
        direction: ltr;
    text-align: left;
}
.xs-header-nav .header-nav:after{
    border-color: transparent #dfb234 transparent transparent !important;
        border-width: 30px 20px 0px 0px;
        left: -20px;
        right:auto;
}
