<template>
  <div v-show="display" class="loading" :style="{'backgroundImage': 'url(' + loading + ')'}"></div>
</template>

<script>
  export default {
      props: {
          display: {
              type: Boolean,
              default: false
          }
      },
      data() {
          return {
              loading: window.loading
          }
      }
  }
</script>
<style scoped>
  .loading{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    clear:both;
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: block;
  }
</style>