<template>
  <v-app>
    <v-expansion-panels inset focusable class="common-question" active-class="active-panel">
      <v-expansion-panel flat
              v-for="(question,i) in questions"
              :key="i"
      >
        <v-expansion-panel-header>
          {{ question.question }}
          <template v-slot:actions>
            <v-icon color="main">mdi-gamepad-round</v-icon>
          </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div v-html="question.answer"></div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-app>
</template>

<script>
    export default {
        props: {
            questions: {
                default() {
                    return [];
                }
            }
        },
    }
</script>

<style scoped>
  .v-expansion-panel-header {
    min-height: 60px;
  }
</style>